body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: pink;
    color:maroon;
}

.cupcake {
    display: flex;
}

.flex1 {
    /* flex : 1 */
}

.flex2 {
    flex : 2
}

.pl1 {
    padding-left: 2em;
}

.img {
    align-self: flex-start;
    height: auto; 
    max-width: 100%;
}


.cupcake_box {
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}

.cupcake1 {
    background-color: #FF4AAB;
}

.cupcake2 {
    background-color:#F9DC5C ;
}

.cupcake3 {
    background-color: #C2EABD;
}

.blue {
    background-color:#C2EABD;
}